## Setups

In [8]:
import pandas as pd
import pybroker as pyb
from pybroker import ExecContext, Strategy, StrategyConfig, YFinance, StrategyConfig

from datetime import datetime, timedelta
from numba import njit
import numpy as np

In [9]:
config = StrategyConfig(max_long_positions=5)
pyb.param('target_size', 1 / config.max_long_positions)
pyb.param('rank_threshold', 6)
pyb.enable_data_source_cache('yfinance')

## Indicators

In [11]:
import talib as ta

def ew13612_fnc(data):
    roc12=ta.ROC(data.adj_close, timeperiod=12)
    roc6=ta.ROC(data.adj_close, timeperiod=6)
    roc3=ta.ROC(data.adj_close, timeperiod=3)
    roc1=ta.ROC(data.adj_close, timeperiod=1)
    
    return (roc12 + roc6 + roc3 + roc1)/4

ew13612_idx = pyb.indicator('ew13612_idx', lambda data: ew13612_fnc(data))

def adj_close_fnc(data):
    v_adj_close=data.adj_close
    
    return v_adj_close

adj_close_idx = pyb.indicator('adj_close_idx', lambda data: adj_close_fnc(data))


def pctl_chnl_fnc(data, lookback):

    # @njit  # Enable Numba JIT.
    def vec_pctl_chnl_fnc(data):
        rolling_close = data.rolling(lookback)
        pctl25 = rolling_close.quantile(0.25)
        pctl75 = rolling_close.quantile(0.75)
        closing_price = data.adj_close

        result = np.where(closing_price < pctl25, -1, np.where(closing_price > pctl75, 1, 0))
        return result
    return vec_pctl_chnl_fnc(data)
        
pc252_idx = pyb.indicator('pc252_idx', pctl_chnl_fnc, lookback=200)

## Data

In [163]:


md = pd.read_csv('D:/Documents/Development/Jupyter/pybroker/market_dates.csv', parse_dates=['trade_dt'], index_col='trade_dt')
# md.sort_values(by=['trade_dt'])[-20:]

yfinance = YFinance()

# symbols=['SPY','QQQ','IWM','VGK','EWJ','EEM','VNQ','PDBC','GLD','HYG','LQD','TLT']
symbols=['SPY','DBC','LQD','VNQ']

df = yfinance.query(symbols, start_date='1/1/2015', end_date='8/1/2023')

# df.rename(columns={"date":"trade_dt"}, inplace=True)
# df.set_index('trade_dt', inplace=True)
#[['Symbol']=='EEM']
dom_df = pd.merge(df, md[['month_last_day']], left_on='date', right_on='trade_dt')
eom_df = dom_df[pos_assets_df['month_last_day'] == 'Y'][['date','symbol','adj_close']]
eom_df

Loaded cached bar data.

           date symbol   adj_close
76   2015-01-30    DBC   16.804605
77   2015-01-30    SPY  171.007416
78   2015-01-30    VNQ   61.751835
79   2015-01-30    LQD   94.310707
152  2015-02-27    DBC   17.548258
...         ...    ...         ...
8551 2023-06-30    LQD  107.423195
8628 2023-07-31    DBC   24.680000
8629 2023-07-31    SPY  457.790009
8630 2023-07-31    VNQ   85.260002
8631 2023-07-31    LQD  107.480995

[412 rows x 3 columns]

## Percentile Score

In [250]:
pc_score = eom_df.copy()
for lookback in [3,6,9,12]:
    rolling_close = pc_score['adj_close'].rolling(lookback)
    pctl25 = rolling_close.quantile(0.25)
    pctl75 = rolling_close.quantile(0.75)
    close_price = pc_score['adj_close']

    # result = pd.Series(-1, index=close_price.index)
    result = pd.Series(-1, index=close_price.index)
    last_result=-1
    for idx, value in close_price.items():
        if close_price[idx] > pctl75[idx]:
            result[idx]=1
            last_result=1
        elif (close_price[idx] > pctl25[idx]) & (last_result==1):
            result[idx]=1
            last_result=1
        
        pc_column = f"pc_{lookback}"
        pc_score[pc_column] = result

pc_score.set_index('date', inplace=True)
pc_score

           symbol   adj_close  pc_3  pc_6  pc_9  pc_12
date
2015-01-30    DBC   16.804605    -1    -1    -1     -1
2015-01-30    SPY  171.007416    -1    -1    -1     -1
2015-01-30    VNQ   61.751835    -1    -1    -1     -1
2015-01-30    LQD   94.310707    -1    -1    -1     -1
2015-02-27    DBC   17.548258    -1    -1    -1     -1
...           ...         ...   ...   ...   ...    ...
2023-06-30    LQD  107.423195     1     1     1      1
2023-07-31    DBC   24.680000    -1    -1    -1     -1
2023-07-31    SPY  457.790009     1     1     1      1
2023-07-31    VNQ   85.260002     1     1     1      1
2023-07-31    LQD  107.480995     1     1     1      1

[412 rows x 6 columns]

## Percentile Channel Score

In [261]:
pc_chan_score = pc_score.copy()
def sum_pc(row):
    pc_columns = ['pc_3', 'pc_6', 'pc_9', 'pc_12']
    return row[list(pc_columns)].sum()/4

pc_chan_score['pc_chan_score'] = pc_chan_score.apply(sum_pc, axis=1)
pc_chan_score['pc_chan_score_abs'] = pc_chan_score.apply(sum_pc, axis=1).abs()
pc_chan_score[-6:]

,symbol,adj_close,pc_3,pc_6,pc_9,pc_12,pc_chan_score,pc_chan_score_abs
date,,,,,,,,
2023-06-30,VNQ,83.559998,1,1,1,1,1.0,1.0
2023-06-30,LQD,107.423195,1,1,1,1,1.0,1.0
2023-07-31,DBC,24.680000,-1,-1,-1,-1,-1.0,1.0
2023-07-31,SPY,457.790009,1,1,1,1,1.0,1.0
2023-07-31,VNQ,85.260002,1,1,1,1,1.0,1.0
2023-07-31,LQD,107.480995,1,1,1,1,1.0,1.0

## Volatility

In [257]:
pc_vol = df[['date','symbol','adj_close']].copy() # yfinance.query(symbols, start_date='1/1/2015', end_date='8/1/2023')
# pc_vol=pc_vol[['date','symbol','adj_close']].copy()

pc_vol['date'] = pd.to_datetime(pc_vol['date'])

# Sort the DataFrame by 'symbol' and 'date' to ensure proper order for rolling calculation
pc_vol.sort_values(by=['symbol', 'date'], inplace=True)

# Set 'date' as the index for the DataFrame
pc_vol.set_index('date', inplace=True)

# Calculate the rolling 20-day volatility for each symbol
pc_vol['vol20'] = pc_vol.groupby('symbol')['adj_close'].transform(lambda x: x.rolling(window=20).std())
# pc_vol['vol20_abs'] = pc_vol.groupby('symbol')['adj_close'].transform(lambda x: x.rolling(window=20).std()).abs()

pc_vol[-4:]

           symbol  adj_close     vol20
date
2023-07-26    VNQ  86.660004  1.311900
2023-07-27    VNQ  84.779999  1.125717
2023-07-28    VNQ  84.709999  1.019812
2023-07-31    VNQ  85.260002  0.935763

##  Channel Score Plus Volatility

In [262]:
pc_vol.reset_index(inplace=True)

# Merge based on 'date' and 'symbol'
pc_chan_score_vol = pd.merge(
    pc_chan_score,
    pc_vol[['date','symbol','vol20']],
    on=['date', 'symbol'],
    how='left'
)

pc_chan_score_vol

,date,symbol,adj_close,pc_3,pc_6,pc_9,pc_12,pc_chan_score,pc_chan_score_abs,vol20
0,2015-01-30,DBC,16.804605,-1,-1,-1,-1,-1.0,1.0,0.297524
1,2015-01-30,SPY,171.007416,-1,-1,-1,-1,-1.0,1.0,1.867482
2,2015-01-30,VNQ,61.751835,-1,-1,-1,-1,-1.0,1.0,1.360318
3,2015-01-30,LQD,94.310707,-1,-1,-1,-1,-1.0,1.0,0.756146
4,2015-02-27,DBC,17.548258,-1,-1,-1,-1,-1.0,1.0,0.215119
...,...,...,...,...,...,...,...,...,...,...
407,2023-06-30,LQD,107.423195,1,1,1,1,1.0,1.0,0.524190
408,2023-07-31,DBC,24.680000,-1,-1,-1,-1,-1.0,1.0,0.665887
409,2023-07-31,SPY,457.790009,1,1,1,1,1.0,1.0,6.262987
410,2023-07-31,VNQ,85.260002,1,1,1,1,1.0,1.0,0.935763
411,2023-07-31,LQD,107.480995,1,1,1,1,1.0,1.0,0.841860

## Volatility Adjusted Channel Score

In [269]:
pc_vol_adj_score=pc_chan_score_vol.copy()
pc_vol_adj_score['chan_score_inv_vol'] = pc_chan_score_vol['pc_chan_score'] * (1 / pc_chan_score_vol['vol20'])
pc_vol_adj_score['chan_score_inv_vol_abs'] = pc_vol_adj_score['chan_score_inv_vol'].abs()
pc_vol_adj_score

,date,symbol,adj_close,pc_3,pc_6,pc_9,pc_12,pc_chan_score,pc_chan_score_abs,vol20,chan_score_inv_vol,chan_score_inv_vol_abs
0,2015-01-30,DBC,16.804605,-1,-1,-1,-1,-1.0,1.0,0.297524,-3.361077,3.361077
1,2015-01-30,SPY,171.007416,-1,-1,-1,-1,-1.0,1.0,1.867482,-0.535481,0.535481
2,2015-01-30,VNQ,61.751835,-1,-1,-1,-1,-1.0,1.0,1.360318,-0.735122,0.735122
3,2015-01-30,LQD,94.310707,-1,-1,-1,-1,-1.0,1.0,0.756146,-1.322496,1.322496
4,2015-02-27,DBC,17.548258,-1,-1,-1,-1,-1.0,1.0,0.215119,-4.648586,4.648586
...,...,...,...,...,...,...,...,...,...,...,...,...
407,2023-06-30,LQD,107.423195,1,1,1,1,1.0,1.0,0.524190,1.907706,1.907706
408,2023-07-31,DBC,24.680000,-1,-1,-1,-1,-1.0,1.0,0.665887,-1.501757,1.501757
409,2023-07-31,SPY,457.790009,1,1,1,1,1.0,1.0,6.262987,0.159668,0.159668
410,2023-07-31,VNQ,85.260002,1,1,1,1,1.0,1.0,0.935763,1.068647,1.068647
411,2023-07-31,LQD,107.480995,1,1,1,1,1.0,1.0,0.841860,1.187846,1.187846

## Weightings

In [272]:
vol_adj_date_sum = pc_vol_adj_score.groupby('date')['chan_score_inv_vol_abs'].sum()
pc_score_vol_adj_dt_wght = pc_vol_adj_score.copy()

for date, value in vol_adj_date_sum.items():
    pc_score_vol_adj_dt_wght.loc[pc_score_vol_adj_dt_wght['date'] == date, 'vol_adj_sum_date'] = value

pc_score_vol_adj_dt_wght

,date,symbol,adj_close,pc_3,pc_6,pc_9,pc_12,pc_chan_score,pc_chan_score_abs,vol20,chan_score_inv_vol,chan_score_inv_vol_abs,vol_adj_sum_date
0,2015-01-30,DBC,16.804605,-1,-1,-1,-1,-1.0,1.0,0.297524,-3.361077,3.361077,5.954176
1,2015-01-30,SPY,171.007416,-1,-1,-1,-1,-1.0,1.0,1.867482,-0.535481,0.535481,5.954176
2,2015-01-30,VNQ,61.751835,-1,-1,-1,-1,-1.0,1.0,1.360318,-0.735122,0.735122,5.954176
3,2015-01-30,LQD,94.310707,-1,-1,-1,-1,-1.0,1.0,0.756146,-1.322496,1.322496,5.954176
4,2015-02-27,DBC,17.548258,-1,-1,-1,-1,-1.0,1.0,0.215119,-4.648586,4.648586,5.178171
...,...,...,...,...,...,...,...,...,...,...,...,...,...
407,2023-06-30,LQD,107.423195,1,1,1,1,1.0,1.0,0.524190,1.907706,1.907706,6.014790
408,2023-07-31,DBC,24.680000,-1,-1,-1,-1,-1.0,1.0,0.665887,-1.501757,1.501757,3.917919
409,2023-07-31,SPY,457.790009,1,1,1,1,1.0,1.0,6.262987,0.159668,0.159668,3.917919
410,2023-07-31,VNQ,85.260002,1,1,1,1,1.0,1.0,0.935763,1.068647,1.068647,3.917919
411,2023-07-31,LQD,107.480995,1,1,1,1,1.0,1.0,0.841860,1.187846,1.187846,3.917919

In [286]:

pc_pct_alloc=pc_score_vol_adj_dt_wght.copy()
# pc_pct_alloc['pct_alloc'] = pc_pct_alloc['pc_score_vol_adj'] / pc_pct_alloc['score_vol_adj_date_wght']
pc_pct_alloc['pct_alloc'] = (pc_pct_alloc['chan_score_inv_vol_abs'] / pc_pct_alloc['vol_adj_sum_date']).apply(lambda x: '{:.2f}%'.format(x * 100))


pc_pct_alloc

,date,symbol,adj_close,pc_3,pc_6,pc_9,pc_12,pc_chan_score,pc_chan_score_abs,vol20,chan_score_inv_vol,chan_score_inv_vol_abs,vol_adj_sum_date,pct_alloc
0,2015-01-30,DBC,16.804605,-1,-1,-1,-1,-1.0,1.0,0.297524,-3.361077,3.361077,5.954176,56.45%
1,2015-01-30,SPY,171.007416,-1,-1,-1,-1,-1.0,1.0,1.867482,-0.535481,0.535481,5.954176,8.99%
2,2015-01-30,VNQ,61.751835,-1,-1,-1,-1,-1.0,1.0,1.360318,-0.735122,0.735122,5.954176,12.35%
3,2015-01-30,LQD,94.310707,-1,-1,-1,-1,-1.0,1.0,0.756146,-1.322496,1.322496,5.954176,22.21%
4,2015-02-27,DBC,17.548258,-1,-1,-1,-1,-1.0,1.0,0.215119,-4.648586,4.648586,5.178171,89.77%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
407,2023-06-30,LQD,107.423195,1,1,1,1,1.0,1.0,0.524190,1.907706,1.907706,6.014790,31.72%
408,2023-07-31,DBC,24.680000,-1,-1,-1,-1,-1.0,1.0,0.665887,-1.501757,1.501757,3.917919,38.33%
409,2023-07-31,SPY,457.790009,1,1,1,1,1.0,1.0,6.262987,0.159668,0.159668,3.917919,4.08%
410,2023-07-31,VNQ,85.260002,1,1,1,1,1.0,1.0,0.935763,1.068647,1.068647,3.917919,27.28%
411,2023-07-31,LQD,107.480995,1,1,1,1,1.0,1.0,0.841860,1.187846,1.187846,3.917919,30.32%


# GPM Source

In [801]:
pos_assets_df = pd.merge(df, md[['month_last_day']], left_on='date', right_on='trade_dt')
eom_df = pos_assets_df[pos_assets_df['month_last_day'] == 'Y']

ticker_df = eom_df[eom_df['symbol']=='SPY']

mr_srs=adj_close_idx(ticker_df)
ri_srs=ew13612_idx(ticker_df)

mc_df = pd.DataFrame({'SPY': mc_srs})
ri_df = pd.DataFrame({'SPY': ri_srs})

# eom_df[-14:]
ri_df
mc_df

                   SPY
2015-01-30  114.027824
2015-01-30  114.027771
2015-02-27  107.028336
2015-02-27  107.028336
2015-03-31  108.197327
...                ...
2023-05-31  102.439598
2023-05-31  102.439598
2023-06-30  102.662003
2023-06-30  102.662003
2023-07-31  100.050003

[205 rows x 1 columns]

In [802]:
for each_symbol in symbols:
    for lookback_day in [252, 180, 120, 60]:

    ticker_df = eom_df[eom_df['symbol']==each_symbol]
    
    pc_srs=percent_(ticker_df)  # Monthly returns
    ri_srs=ew13612_idx(ticker_df)  # Return Indicator
    
    mc_df[each_symbol] = pd.Series(mc_srs).reindex(mc_df.index)    
    ri_df[each_symbol] = pd.Series(ri_srs).reindex(ri_df.index)    

# ri_df.loc[:, 'SPY'][-12:]
# ri_df
# mc_df # Monthly Closes

# pd.Series(mr_srs).reindex(mr_df.index)

mc_df

,SPY,QQQ,IWM,VGK,EWJ,EEM,VNQ,PDBC,GLD,HYG,LQD,TLT
2015-01-30,171.007385,94.492523,103.350021,39.732143,40.268532,32.641945,61.751839,10.210998,123.449997,58.079361,94.634521,114.027824
2015-01-30,171.007416,94.492523,103.349998,39.732151,40.268536,32.641941,61.751842,10.210998,123.449997,58.079403,94.634514,114.027771
2015-02-27,180.618805,101.315437,109.495628,42.153183,43.282547,34.080803,59.482960,10.614596,116.160004,59.375187,93.290314,107.028336
2015-02-27,180.618774,101.315445,109.495613,42.153179,43.282543,34.080807,59.482964,10.614596,116.160004,59.375156,93.290314,107.028336
2015-03-31,177.782074,98.925400,111.433685,41.125500,43.913372,33.570507,60.513161,9.963796,113.660004,58.812458,93.472305,108.197327
...,...,...,...,...,...,...,...,...,...,...,...,...
2023-05-31,416.303619,347.513306,173.290115,59.174145,58.934296,37.893135,79.106728,13.230000,182.320007,72.965096,106.925797,102.439598
2023-05-31,416.303619,347.513306,173.290115,59.174145,58.934296,37.893135,79.106728,13.230000,182.320007,72.965103,106.925797,102.439598
2023-06-30,443.279999,369.420013,187.270004,61.700001,61.900002,39.560001,83.559998,13.605000,178.270004,74.264000,107.792000,102.662003
2023-06-30,443.279999,369.420013,187.270004,61.700001,61.900002,39.560001,83.559998,13.605000,178.270004,74.264000,107.792000,102.662003
2023-07-31,457.790009,383.679993,198.710007,63.490002,63.419998,41.950001,85.260002,14.790000,182.350006,75.500000,107.849998,100.050003

In [803]:
mr_df = mc_df.pct_change()    #percentage_change
#percentage_change[symbols].loc['2023-04-28'].mean()
# percentage_change[['GLD']][-12:]
mr_df

,SPY,QQQ,IWM,VGK,EWJ,EEM,VNQ,PDBC,GLD,HYG,LQD,TLT
2015-01-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-30,1.784577e-07,0.000000e+00,-2.214628e-07,1.920207e-07,9.473147e-08,-1.168649e-07,6.177463e-08,0.000000,0.000000,7.224885e-07,-8.061957e-08,-4.683573e-07
2015-02-27,5.620452e-02,7.220586e-02,5.946425e-02,6.093383e-02,7.484780e-02,4.408016e-02,-3.674194e-02,0.039526,-0.059052,2.231056e-02,-1.420412e-02,-6.138360e-02
2015-02-27,-1.689612e-07,7.530338e-08,-1.393552e-07,-9.049607e-08,-8.813477e-08,1.119310e-07,6.413093e-08,0.000000,0.000000,-5.139786e-07,0.000000e+00,0.000000e+00
2015-03-31,-1.570546e-02,-2.359014e-02,1.770000e-02,-2.437964e-02,1.457467e-02,-1.497323e-02,1.731920e-02,-0.061312,-0.021522,-9.477000e-03,1.950809e-03,1.092226e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
2023-05-31,4.616256e-03,7.883807e-02,-8.162042e-03,-5.120531e-02,8.497629e-03,-2.402250e-02,-3.961585e-02,-0.065018,-0.013420,-1.231447e-02,-1.768926e-02,-3.015296e-02
2023-05-31,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,1.045622e-07,0.000000e+00,0.000000e+00
2023-06-30,6.479977e-02,6.303847e-02,8.067332e-02,4.268513e-02,5.032224e-02,4.398861e-02,5.629445e-02,0.028345,-0.022214,1.780162e-02,8.100976e-03,2.171079e-03
2023-06-30,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00
2023-07-31,3.273328e-02,3.860099e-02,6.108828e-02,2.901136e-02,2.455568e-02,6.041454e-02,2.034472e-02,0.087100,0.022887,1.664333e-02,5.380609e-04,-2.544271e-02

In [750]:
equal_weight_return=percentage_change.mean(axis=1)
equal_weight_return[-12:]

2022-07-29    0.050725
2022-08-31   -0.040255
2022-09-30   -0.083552
2022-10-31    0.029594
2022-11-30    0.072791
2022-12-30   -0.032135
2023-01-31    0.072279
2023-02-28   -0.037609
2023-03-31    0.029426
2023-04-28    0.004523
2023-05-31   -0.014060
2023-06-30    0.036428
dtype: float64

In [756]:
ci_df = percentage_change.rolling(window=12).corr(equal_weight_return)
ci_df

,SPY,QQQ,IWM,VGK,EWJ,EEM,VNQ,DBC,GLD,HYG,LQD,TLT
2015-01-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-05-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2023-02-28,0.937577,0.912326,0.879118,0.955225,0.970661,0.843418,0.926815,0.432787,0.619499,0.898326,0.920367,0.784663
2023-03-31,0.943347,0.910534,0.816919,0.954009,0.983953,0.863933,0.922850,0.453963,0.619831,0.912528,0.944404,0.822002
2023-04-28,0.937256,0.906274,0.789124,0.947242,0.982370,0.855572,0.942316,0.704292,0.610407,0.903184,0.942212,0.800246
2023-05-31,0.934320,0.859363,0.788594,0.937524,0.979186,0.856900,0.953759,0.762549,0.634723,0.908976,0.948605,0.805414
2023-06-30,0.924667,0.839037,0.764088,0.925842,0.976567,0.864830,0.953911,0.723703,0.573941,0.905895,0.941857,0.848298

In [759]:
# zi_df = ri_df.mul(1 - rolling_correlations)
# ri_df
zi_df=ri_df.mul(1 - ci_df)
zi_df

,SPY,QQQ,IWM,VGK,EWJ,EEM,VNQ,DBC,GLD,HYG,LQD,TLT
2015-01-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-05-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2023-02-28,-0.179389,-0.356755,-0.102119,0.234139,-0.070511,-1.063191,-0.475273,-2.497148,-0.054632,-0.134852,-0.369339,-2.065830
2023-03-31,0.268108,0.893789,-0.217889,0.548579,0.118498,0.397049,-0.280183,-1.670854,3.402759,0.253552,0.157273,0.008895
2023-04-28,0.244384,0.713060,-0.913837,0.657376,0.104371,0.162491,-0.302253,-1.890568,2.919760,0.180169,0.178537,0.218643
2023-05-31,0.206508,2.090131,-1.021474,0.119285,0.092448,-0.454263,-0.375982,-2.941699,2.118703,-0.021319,0.002100,-0.409836
2023-06-30,0.967424,3.760647,1.994125,0.772615,0.257497,0.391218,0.079549,-1.631464,0.637762,0.349643,0.096892,-0.203041

In [807]:
gpm_bkup_df=zi_df.copy()
gpm_bkup_df.reset_index(inplace=True)
gpm_piv_df =gpm_bkup_df.melt(id_vars='index', var_name='ticker',value_name='mom')
gpm_piv_df.rename(columns={'index': 'date'}, inplace=True)
gpm_piv_df.sort_values(by=['date', 'mom'], ascending=[True, False])[-60:]

           date ticker       mom
403  2023-02-28    VGK  0.234139
913  2023-02-28    GLD -0.054632
505  2023-02-28    EWJ -0.070511
301  2023-02-28    IWM -0.102119
1015 2023-02-28    HYG -0.134852
97   2023-02-28    SPY -0.179389
199  2023-02-28    QQQ -0.356755
1117 2023-02-28    LQD -0.369339
709  2023-02-28    VNQ -0.475273
607  2023-02-28    EEM -1.063191
1219 2023-02-28    TLT -2.065830
811  2023-02-28    DBC -2.497148
914  2023-03-31    GLD  3.402759
200  2023-03-31    QQQ  0.893789
404  2023-03-31    VGK  0.548579
608  2023-03-31    EEM  0.397049
98   2023-03-31    SPY  0.268108
1016 2023-03-31    HYG  0.253552
1118 2023-03-31    LQD  0.157273
506  2023-03-31    EWJ  0.118498
1220 2023-03-31    TLT  0.008895
302  2023-03-31    IWM -0.217889
710  2023-03-31    VNQ -0.280183
812  2023-03-31    DBC -1.670854
915  2023-04-28    GLD  2.919760
201  2023-04-28    QQQ  0.713060
405  2023-04-28    VGK  0.657376
99   2023-04-28    SPY  0.244384
1221 2023-04-28    TLT  0.218643
1017 2023-04-28    HYG  0.180169
1119 2023-04-28    LQD  0.178537
609  2023-04-28    EEM  0.162491
507  2023-04-28    EWJ  0.104371
711  2023-04-28    VNQ -0.302253
303  2023-04-28    IWM -0.913837
813  2023-04-28    DBC -1.890568
916  2023-05-31    GLD  2.118703
202  2023-05-31    QQQ  2.090131
100  2023-05-31    SPY  0.206508
406  2023-05-31    VGK  0.119285
508  2023-05-31    EWJ  0.092448
1120 2023-05-31    LQD  0.002100
1018 2023-05-31    HYG -0.021319
712  2023-05-31    VNQ -0.375982
1222 2023-05-31    TLT -0.409836
610  2023-05-31    EEM -0.454263
304  2023-05-31    IWM -1.021474
814  2023-05-31    DBC -2.941699
203  2023-06-30    QQQ  3.760647
305  2023-06-30    IWM  1.994125
101  2023-06-30    SPY  0.967424
407  2023-06-30    VGK  0.772615
917  2023-06-30    GLD  0.637762
611  2023-06-30    EEM  0.391218
1019 2023-06-30    HYG  0.349643
509  2023-06-30    EWJ  0.257497
1121 2023-06-30    LQD  0.096892
713  2023-06-30    VNQ  0.079549
1223 2023-06-30    TLT -0.203041
815  2023-06-30    DBC -1.631464

In [770]:
gpm_df=zi_df.copy()
gpm_df.reset_index(inplace=True)
gpm_piv_df = gpm_df.melt(id_vars='index', var_name='ticker',value_name='mom')
gpm_piv_df.rename(columns={'index': 'date'}, inplace=True)
gpm_piv_df.sort_values(by=['date', 'mom'], ascending=[True, False])[-73:-13]

           date ticker       mom
1217 2022-12-30    TLT -3.464216
912  2023-01-31    GLD  4.631220
810  2023-01-31    DBC  1.243283
606  2023-01-31    EEM  0.977468
402  2023-01-31    VGK  0.511877
300  2023-01-31    IWM  0.432289
504  2023-01-31    EWJ  0.174112
1014 2023-01-31    HYG  0.103853
708  2023-01-31    VNQ  0.096335
1116 2023-01-31    LQD  0.074194
96   2023-01-31    SPY  0.052375
198  2023-01-31    QQQ -0.134249
1218 2023-01-31    TLT -0.583097
403  2023-02-28    VGK  0.234139
913  2023-02-28    GLD -0.054632
505  2023-02-28    EWJ -0.070511
301  2023-02-28    IWM -0.102119
1015 2023-02-28    HYG -0.134852
97   2023-02-28    SPY -0.179389
199  2023-02-28    QQQ -0.356755
1117 2023-02-28    LQD -0.369339
709  2023-02-28    VNQ -0.475273
607  2023-02-28    EEM -1.063191
1219 2023-02-28    TLT -2.065830
811  2023-02-28    DBC -2.497148
914  2023-03-31    GLD  3.402759
200  2023-03-31    QQQ  0.893789
404  2023-03-31    VGK  0.548579
608  2023-03-31    EEM  0.397049
98   2023-03-31    SPY  0.268108
1016 2023-03-31    HYG  0.253552
1118 2023-03-31    LQD  0.157273
506  2023-03-31    EWJ  0.118498
1220 2023-03-31    TLT  0.008895
302  2023-03-31    IWM -0.217889
710  2023-03-31    VNQ -0.280183
812  2023-03-31    DBC -1.670854
915  2023-04-28    GLD  2.919760
201  2023-04-28    QQQ  0.713060
405  2023-04-28    VGK  0.657376
99   2023-04-28    SPY  0.244384
1221 2023-04-28    TLT  0.218643
1017 2023-04-28    HYG  0.180169
1119 2023-04-28    LQD  0.178537
609  2023-04-28    EEM  0.162491
507  2023-04-28    EWJ  0.104371
711  2023-04-28    VNQ -0.302253
303  2023-04-28    IWM -0.913837
813  2023-04-28    DBC -1.890568
916  2023-05-31    GLD  2.118703
202  2023-05-31    QQQ  2.090131
100  2023-05-31    SPY  0.206508
406  2023-05-31    VGK  0.119285
508  2023-05-31    EWJ  0.092448
1120 2023-05-31    LQD  0.002100
1018 2023-05-31    HYG -0.021319
712  2023-05-31    VNQ -0.375982
1222 2023-05-31    TLT -0.409836
610  2023-05-31    EEM -0.454263

In [773]:
gpm_df=ci_df.copy()
# gpm_df.reset_index(inplace=True)
gpm_piv_df = gpm_db.melt(id_vars='index', var_name='ticker',value_name='mom')
gpm_piv_df.rename(columns={'index': 'date'}, inplace=True)
gpm_piv_df.sort_values(by=['date', 'mom'], ascending=[True, False])[-72:-13]

           date ticker       mom
912  2023-01-31    GLD  0.026722
1218 2023-01-31    TLT  0.016993
606  2023-01-31    EEM  0.015041
300  2023-01-31    IWM  0.011681
708  2023-01-31    VNQ  0.008135
198  2023-01-31    QQQ  0.007549
810  2023-01-31    DBC  0.005605
402  2023-01-31    VGK  0.005141
1116 2023-01-31    LQD  0.004288
96   2023-01-31    SPY  0.003926
1014 2023-01-31    HYG  0.003713
504  2023-01-31    EWJ  0.002376
199  2023-02-28    QQQ -0.000315
403  2023-02-28    VGK -0.000767
505  2023-02-28    EWJ -0.001365
97   2023-02-28    SPY -0.001569
1015 2023-02-28    HYG -0.001917
301  2023-02-28    IWM -0.002083
1117 2023-02-28    LQD -0.003320
709  2023-02-28    VNQ -0.004292
1219 2023-02-28    TLT -0.010445
607  2023-02-28    EEM -0.011850
913  2023-02-28    GLD -0.020424
811  2023-02-28    DBC -0.025316
914  2023-03-31    GLD  0.030095
1220 2023-03-31    TLT  0.008614
200  2023-03-31    QQQ  0.008493
608  2023-03-31    EEM  0.004378
1118 2023-03-31    LQD  0.002140
98   2023-03-31    SPY  0.002101
1016 2023-03-31    HYG  0.001736
404  2023-03-31    VGK  0.001139
506  2023-03-31    EWJ  0.000789
812  2023-03-31    DBC -0.000460
710  2023-03-31    VNQ -0.001663
302  2023-03-31    IWM -0.008875
915  2023-04-28    GLD  0.003360
405  2023-04-28    VGK  0.002181
99   2023-04-28    SPY  0.001002
1221 2023-04-28    TLT  0.000676
201  2023-04-28    QQQ  0.000476
1119 2023-04-28    LQD  0.000349
1017 2023-04-28    HYG  0.000196
711  2023-04-28    VNQ  0.000181
507  2023-04-28    EWJ  0.000045
609  2023-04-28    EEM -0.001208
813  2023-04-28    DBC -0.002242
303  2023-04-28    IWM -0.003783
202  2023-05-31    QQQ  0.011088
100  2023-05-31    SPY  0.000303
508  2023-05-31    EWJ  0.000177
1120 2023-05-31    LQD -0.000909
1018 2023-05-31    HYG -0.001121
304  2023-05-31    IWM -0.001726
712  2023-05-31    VNQ -0.001832
406  2023-05-31    VGK -0.003199
610  2023-05-31    EEM -0.003438
916  2023-05-31    GLD -0.004902
1222 2023-05-31    TLT -0.005867

In [544]:
gpm_db=result_risk_df.copy()
gpm_db = gpm_db.reset_index()
gpm_db2 = gpm_db.melt(id_vars='index', var_name='ticker',value_name='mom')a
gpm_db3 = gpm_db2.rename(columns={'index': 'date'})
gpm_db3.sort_values(by=['date', 'mom'], ascending=[True, False])[-36:]
# gpm_db2

           date ticker       mom
915  2023-04-28    GLD  0.003360
405  2023-04-28    VGK  0.002181
99   2023-04-28    SPY  0.001002
1221 2023-04-28    TLT  0.000676
201  2023-04-28    QQQ  0.000476
1119 2023-04-28    LQD  0.000349
1017 2023-04-28    HYG  0.000196
711  2023-04-28    VNQ  0.000181
507  2023-04-28    EWJ  0.000045
609  2023-04-28    EEM -0.001208
813  2023-04-28    DBC -0.002242
303  2023-04-28    IWM -0.003783
202  2023-05-31    QQQ  0.011088
100  2023-05-31    SPY  0.000303
508  2023-05-31    EWJ  0.000177
1120 2023-05-31    LQD -0.000909
1018 2023-05-31    HYG -0.001121
304  2023-05-31    IWM -0.001726
712  2023-05-31    VNQ -0.001832
406  2023-05-31    VGK -0.003199
610  2023-05-31    EEM -0.003438
916  2023-05-31    GLD -0.004902
1222 2023-05-31    TLT -0.005867
814  2023-05-31    DBC -0.015219
305  2023-06-30    IWM  0.019032
203  2023-06-30    QQQ  0.010147
815  2023-06-30    DBC  0.008145
611  2023-06-30    EEM  0.005946
101  2023-06-30    SPY  0.004882
407  2023-06-30    VGK  0.003165
713  2023-06-30    VNQ  0.002595
1019 2023-06-30    HYG  0.001675
509  2023-06-30    EWJ  0.001179
1121 2023-06-30    LQD  0.000471
1223 2023-06-30    TLT  0.000329
917  2023-06-30    GLD -0.009464

In [266]:
dbx=prtfl_df.copy()
dbx2 = dbx.reset_index()
dbx3 = dbx2.melt(id_vars='index', var_name='ticker',value_name='mom')
dbx4 = dbx3.rename(columns={'index': 'date'})
dbx4.sort_values(by=['date', 'mom'], ascending=[True, False])[-42:]

           date ticker       mom
405  2023-04-28    VGK  0.142409
915  2023-04-28    GLD  0.092934
201  2023-04-28    QQQ  0.092402
507  2023-04-28    EWJ  0.068406
99   2023-04-28    SPY  0.054355
1119 2023-04-28    LQD  0.029113
1017 2023-04-28    HYG  0.028050
1323 2023-04-28    IEF  0.015117
1425 2023-04-28    SHY  0.012484
609  2023-04-28    EEM  0.009759
1221 2023-04-28    TLT  0.000869
303  2023-04-28    IWM -0.024179
711  2023-04-28    VNQ -0.047187
813  2023-04-28    DBC -0.068049
202  2023-05-31    QQQ  0.167235
406  2023-05-31    VGK  0.078170
916  2023-05-31    GLD  0.075620
508  2023-05-31    EWJ  0.072406
100  2023-05-31    SPY  0.056602
1018 2023-05-31    HYG  0.015302
1120 2023-05-31    LQD  0.011461
1426 2023-05-31    SHY  0.008245
1324 2023-05-31    IEF  0.002326
610  2023-05-31    EEM -0.008194
1222 2023-05-31    TLT -0.020050
304  2023-05-31    IWM -0.028719
712  2023-05-31    VNQ -0.068750
814  2023-05-31    DBC -0.113442
203  2023-06-30    QQQ  0.220659
509  2023-06-30    EWJ  0.117966
101  2023-06-30    SPY  0.116626
407  2023-06-30    VGK  0.116419
917  2023-06-30    GLD  0.048334
305  2023-06-30    IWM  0.047191
611  2023-06-30    EEM  0.039121
1019 2023-06-30    HYG  0.033164
1121 2023-06-30    LQD  0.021061
1427 2023-06-30    SHY  0.003684
713  2023-06-30    VNQ -0.006923
1325 2023-06-30    IEF -0.007014
1223 2023-06-30    TLT -0.010539
815  2023-06-30    DBC -0.070264

In [224]:
dbx

,level_0,index,SPY,QQQ,IWM,VGK,EWJ,EEM,VNQ,DBC,GLD,HYG,LQD,TLT,IEF,SHY
0,0,2015-01-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2015-02-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2015-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2015-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2015-05-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,97,2023-02-28,-0.008380,-0.022629,0.023186,0.076887,0.007942,-0.034824,-0.058669,-0.066755,0.008227,0.000105,-0.027149,-0.082822,-0.041132,-0.006987
98,98,2023-03-31,0.032104,0.076445,-0.017634,0.102148,0.062654,0.008332,-0.067154,-0.067578,0.085639,0.023578,0.018079,-0.018099,0.002741,0.010351
99,99,2023-04-28,0.054355,0.092402,-0.024179,0.142409,0.068406,0.009759,-0.047187,-0.068049,0.092934,0.028050,0.029113,0.000869,0.015117,0.012484
100,100,2023-05-31,0.056602,0.167235,-0.028719,0.078170,0.072406,-0.008194,-0.068750,-0.113442,0.075620,0.015302,0.011461,-0.020050,0.002326,0.008245
101,101,2023-06-30,0.116626,0.220659,0.047191,0.116419,0.117966,0.039121,-0.006923,-0.070264,0.048334,0.033164,0.021061,-0.010539,-0.007014,0.003684

In [200]:
df_renamed

,SPY,QQQ,IWM,VGK,EWJ,EEM,VNQ,DBC,GLD,HYG,LQD,TLT,IEF,SHY
Date,,,,,,,,,,,,,,
2015-01-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-05-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-02-28,-0.008380,-0.022629,0.023186,0.076887,0.007942,-0.034824,-0.058669,-0.066755,0.008227,0.000105,-0.027149,-0.082822,-0.041132,-0.006987
2023-03-31,0.032104,0.076445,-0.017634,0.102148,0.062654,0.008332,-0.067154,-0.067578,0.085639,0.023578,0.018079,-0.018099,0.002741,0.010351
2023-04-28,0.054355,0.092402,-0.024179,0.142409,0.068406,0.009759,-0.047187,-0.068049,0.092934,0.028050,0.029113,0.000869,0.015117,0.012484
2023-05-31,0.056602,0.167235,-0.028719,0.078170,0.072406,-0.008194,-0.068750,-0.113442,0.075620,0.015302,0.011461,-0.020050,0.002326,0.008245
2023-06-30,0.116626,0.220659,0.047191,0.116419,0.117966,0.039121,-0.006923,-0.070264,0.048334,0.033164,0.021061,-0.010539,-0.007014,0.003684

In [189]:
db02 = db01

# db02['positive_assets']

db02['positive_assets'] = db02.apply(lambda row: (row > 0).sum()-1, axis=1)  # The -1 is to not count the index column
db02[-60:]

,SPY,IWM,QQQ,VGK,EWJ,EEM,VNQ,DBC,GLD,HYG,LQD,TLT,IEF,SHY,positive_assets
2018-07-31,0.072748,0.091070,0.110319,0.016610,0.003359,-0.018863,0.038907,0.040507,-0.054236,0.015061,-0.008092,-0.013813,-0.014290,-0.000547,8
2018-08-31,0.091598,0.119291,0.149702,-0.014219,-0.007503,-0.056307,0.062078,0.037088,-0.070235,0.020214,-0.006960,-0.001100,-0.002848,0.002925,7
2018-09-28,0.082716,0.076684,0.124567,-0.015648,0.018353,-0.060265,0.032346,0.058352,-0.068715,0.023161,-0.006796,-0.025242,-0.011387,0.001762,8
2018-10-31,0.001040,-0.043345,0.015852,-0.087714,-0.072686,-0.135757,0.002998,-0.008143,-0.045075,0.002606,-0.024122,-0.049095,-0.011801,0.003306,5
2018-11-30,0.012948,-0.029303,0.004663,-0.087415,-0.061207,-0.086852,0.046110,-0.102902,-0.038695,-0.001352,-0.024174,-0.028562,0.002807,0.006772,5
2018-12-31,-0.073916,-0.138172,-0.082655,-0.122422,-0.124297,-0.110389,-0.032366,-0.132999,0.008716,-0.020875,-0.003986,0.028163,0.029980,0.013297,4
2019-01-31,-0.002057,-0.039840,-0.006225,-0.056882,-0.056345,-0.013153,0.077978,-0.067606,0.037104,0.025316,0.030010,0.033084,0.035364,0.014503,7
2019-02-28,0.029696,0.008753,0.021083,-0.017682,-0.045231,-0.015242,0.076895,-0.037075,0.033204,0.034576,0.027521,0.018327,0.027297,0.013749,10
2019-03-29,0.043252,-0.014767,0.054376,-0.006392,-0.031826,0.003206,0.103379,-0.038521,0.018657,0.042959,0.052926,0.067317,0.048949,0.017897,10
2019-04-30,0.074915,0.014525,0.097113,0.033116,-0.013629,0.032992,0.086310,-0.023979,0.014886,0.047263,0.052929,0.042489,0.039308,0.017608,12
2019-05-31,0.001917,-0.062559,0.000463,-0.018815,-0.052617,-0.033608,0.073402,-0.072673,0.033560,0.023164,0.062995,0.102208,0.063089,0.022033,9
2019-06-28,0.063111,0.005275,0.067641,0.043586,-0.005113,0.029173,0.077181,-0.026402,0.109054,0.048944,0.087613,0.101978,0.067869,0.023728,12
2019-07-31,0.069806,0.014470,0.082602,0.017572,-0.005687,0.002933,0.084413,-0.028741,0.098890,0.044107,0.080017,0.094570,0.060360,0.020164,12
2019-08-30,0.047091,-0.028277,0.056263,0.005996,-0.008481,-0.028415,0.110768,-0.063823,0.165310,0.045579,0.108968,0.192095,0.090241,0.024549,10
2019-09-30,0.063522,0.001098,0.064042,0.032539,0.044128,-0.009510,0.118245,-0.040704,0.108225,0.044662,0.088670,0.142038,0.067519,0.019986,12
2019-10-31,0.081582,0.034030,0.104455,0.069930,0.080665,0.030751,0.113867,-0.010508,0.116303,0.039509,0.081297,0.110774,0.058808,0.019641,13
2019-11-29,0.105885,0.068588,0.131458,0.073540,0.086010,0.021694,0.082072,-0.004720,0.065892,0.038397,0.072443,0.086583,0.041453,0.015802,13
2019-12-31,0.121875,0.089708,0.153308,0.106871,0.087005,0.089278,0.076198,0.047672,0.087169,0.049293,0.063673,0.037388,0.023697,0.014203,14
2020-01-31,0.098896,0.040938,0.156467,0.057541,0.047673,0.014402,0.068496,-0.043855,0.117720,0.034479,0.074530,0.099571,0.050164,0.017021,13
2020-02-28,0.003635,-0.050783,0.069472,-0.029684,-0.038961,-0.021435,-0.012473,-0.099905,0.095702,0.016050,0.072847,0.148204,0.070105,0.022367,8
2020-03-31,-0.118420,-0.239546,-0.015935,-0.181817,-0.098908,-0.164726,-0.196510,-0.238717,0.078525,-0.082405,-0.002134,0.189045,0.094871,0.030560,4
2020-04-30,-0.010031,-0.125043,0.113369,-0.121873,-0.053242,-0.094666,-0.118473,-0.243704,0.133470,-0.036371,0.036981,0.175327,0.084937,0.029130,6
2020-05-29,0.032754,-0.059054,0.166136,-0.063771,0.011902,-0.058868,-0.098145,-0.164558,0.136773,-0.008146,0.051470,0.128460,0.075117,0.024325,8
2020-06-30,0.040218,-0.026735,0.204465,-0.026941,0.005648,0.002014,-0.072528,-0.114500,0.140924,-0.015111,0.062228,0.111627,0.064743,0.021125,9
2020-07-31,0.090372,0.004786,0.255122,0.010688,-0.006301,0.081532,-0.036215,-0.055903,0.230338,0.031966,0.083193,0.136632,0.063313,0.018941,11
2020-08-31,0.149440,0.059196,0.341186,0.050713,0.054169,0.104527,-0.028436,-0.002244,0.194877,0.029130,0.054171,0.061914,0.043630,0.015556,12
2020-09-30,0.092708,0.022696,0.224330,0.015792,0.064018,0.083104,-0.046158,-0.029162,0.126343,0.018260,0.043252,0.060093,0.040452,0.013007,12
2020-10-30,0.056080,0.043058,0.155060,-0.035335,0.045287,0.088206,-0.063156,-0.047919,0.100398,0.021106,0.031595,0.015523,0.019894,0.009949,11
2020-11-30,0.152468,0.215619,0.242225,0.117116,0.144827,0.170099,0.034259,0.056192,0.028900,0.051252,0.061197,0.021639,0.017076,0.007814,14
2020-12-31,0.175839,0.295785,0.258787,0.170115,0.190344,0.229017,0.066051,0.116173,0.080290,0.066496,0.053871,-0.000652,0.008163,0.005808,13
2021-01-29,0.148818,0.330025,0.223137,0.154590,0.166943,0.247135,0.070640,0.158522,0.031189,0.059077,0.027857,-0.045563,-0.008999,0.003736,12
2021-02-26,0.162843,0.371538,0.187301,0.173527,0.170877,0.229760,0.109741,0.260081,-0.038843,0.052955,0.001667,-0.100072,-0.034293,0.001340,11
2021-03-31,0.185852,0.340727,0.168646,0.190302,0.151426,0.192560,0.157245,0.229670,-0.054833,0.060105,-0.014090,-0.139996,-0.055462,-0.000323,9
2021-04-30,0.203282,0.297000,0.188013,0.205174,0.106327,0.165973,0.210743,0.277461,-0.028926,0.052689,-0.010221,-0.108149,-0.042140,0.000038,10
2021-05-28,0.176186,0.246986,0.138028,0.217459,0.101138,0.149271,0.190628,0.272900,0.036486,0.042660,-0.007568,-0.096597,-0.034254,0.000597,11
2021-06-30,0.169822,0.222204,0.171636,0.167989,0.074808,0.127031,0.191363,0.267538,-0.038767,0.047146,0.010922,-0.048677,-0.020988,-0.001091,10
2021-07-30,0.165387,0.140774,0.170043,0.158993,0.051482,0.034654,0.210696,0.238882,-0.015527,0.038555,0.022270,-0.007331,0.000509,0.000485,12
2021-08-31,0.169040,0.129989,0.185659,0.151072,0.053064,0.035326,0.204985,0.182491,-0.009328,0.038486,0.018444,-0.000729,-0.000446,0.000176,11
2021-09-30,0.095719,0.070434,0.101168,0.070868,0.065297,-0.014491,0.114079,0.206161,-0.032305,0.028637,0.002579,-0.022020,-0.012999,-0.000759,9
2021-10-29,0.143620,0.083447,0.157698,0.099590,0.025292,-0.015001,0.161470,0.229240,-0.013304,0.019081,0.006637,0.008933,-0.013362,-0.003780,10
2021-11-30,0.106133,0.011905,0.147501,0.023716,-0.015659,-0.061910,0.107223,0.088642,-0.015314,0.002162,0.003884,0.038789,-0.000440,-0.004010,9
2021-12-31,0.132003,0.018959,0.135196,0.060205,0.001983,-0.049955,0.180773,0.128122,0.015179,0.020650,0.004878,0.022774,-0.002864,-0.005608,11
2022-01-31,0.056618,-0.080471,0.024474,0.013309,-0.038773,-0.047511,0.061639,0.179141,0.002841,-0.007200,-0.027104,-0.010457,-0.019757,-0.011399,6
2022-02-28,0.012367,-0.070866,-0.028498,-0.045331,-0.052926,-0.080982,0.009179,0.212812,0.061421,-0.016109,-0.043641,-0.021581,-0.019170,-0.014265,4
2022-03-31,0.036067,-0.056600,0.005935,-0.047273,-0.067291,-0.101779,0.053603,0.277499,0.065738,-0.028382,-0.066860,-0.070520,-0.054418,-0.025699,5
2022-04-29,-0.058327,-0.139679,-0.130020,-0.103837,-0.132207,-0.143850,-0.000399,0.296186,0.035708,-0.064845,-0.121933,-0.151817,-0.088847,-0.027836,2
2022-05-31,-0.056376,-0.126297,-0.138652,-0.077509,-0.108295,-0.124561,-0.049157,0.304530,-0.000539,-0.046001,-0.098279,-0.161908,-0.077250,-0.019699,1
2022-06-30,-0.128719,-0.183535,-0.206595,-0.155714,-0.160344,-0.151776,-0.116446,0.173807,-0.011786,-0.105210,-0.121154,-0.162792,-0.078356,-0.022702,1
2022-07-29,-0.046780,-0.083805,-0.099753,-0.103284,-0.096675,-0.135143,-0.040258,0.124313,-0.036698,-0.039993,-0.072814,-0.130576,-0.045139,-0.016281,1
2022-08-31,-0.079582,-0.090096,-0.133924,-0.154851,-0.124851,-0.130714,-0.090900,0.085162,-0.060576,-0.073210,-0.100912,-0.153330,-0.072047,-0.021113,1
2022-09-30,-0.151509,-0.159481,-0.205700,-0.216060,-0.183788,-0.209126,-0.192979,-0.006457,-0.081448,-0.097018,-0.138758,-0.202842,-0.103589,-0.028816,-1
2022-10-31,-0.076381,-0.053543,-0.158972,-0.135058,-0.144192,-0.203897,-0.154478,0.027597,-0.092737,-0.057645,-0.129471,-0.229481,-0.104352,-0.026027,1
2022-11-30,-0.016948,-0.017951,-0.093276,-0.005646,-0.030604,-0.062611,-0.090006,0.029323,-0.014861,-0.018557,-0.058061,-0.152515,-0.061644,-0.015973,1
2022-12-30,-0.062367,-0.066785,-0.149849,-0.012520,-0.038905,-0.071681,-0.122045,-0.014863,0.012084,-0.028720,-0.057971,-0.148552,-0.063296,-0.011626,1
2023-01-31,0.008177,0.036710,-0.035607,0.089712,0.046426,0.025337,-0.013939,-0.018785,0.066237,0.013463,0.002752,-0.060218,-0.019664,-0.001479,8
2023-02-28,-0.008380,0.023186,-0.022629,0.076887,0.007942,-0.034824,-0.058669,-0.066755,0.008227,0.000105,-0.027148,-0.082822,-0.041133,-0.006987,5
2023-03-31,0.032104,-0.017634,0.076445,0.102148,0.062654,0.008332,-0.067154,-0.067578,0.085639,0.023578,0.018079,-0.018099,0.002741,0.010351,10
2023-04-28,0.054355,-0.024179,0.092402,0.142409,0.068406,0.009759,-0.047187,-0.068049,0.092934,0.028050,0.029113,0.000869,0.015117,0.012484,11
2023-05-31,0.056602,-0.028719,0.167235,0.078170,0.072406,-0.008194,-0.068750,-0.113442,0.075620,0.015302,0.011461,-0.020050,0.002326,0.008245,9
2023-06-30,0.116626,0.047191,0.220659,0.116419,0.117966,0.039121,-0.006923,-0.070264,0.048334,0.033164,0.021061,-0.010539,-0.007014,0.003684,10

In [181]:
def rank(ctxs: dict[str, ExecContext]):
    scores = {
        symbol: ctx.indicator('sma13m_indicator')[-1]
        for symbol, ctx in ctxs.items()
    }
    sorted_scores = sorted(
        scores.items(),
        key=lambda score: score[1],
        reverse=True
    )

    sorted_scores_trimmed = [(x, y) for x, y in sorted_scores if y > 0]
    
    threshold = pyb.param('rank_threshold')
    # print(sorted_scores_trimmed)
    
    top_scores = sorted_scores_trimmed[:threshold]
    top_symbols = [score[0] for score in top_scores]
    pyb.param('top_symbols', top_symbols)

In [185]:
def rotate(ctx: ExecContext):
    
    day_of_month = md.loc[ctx.dt,'trade_day_nrmlzd']
    shy_signal = ctx.indicator('sma13m_indicator','SHY')[-1]
    ief_signal = ctx.indicator('sma13m_indicator','IEF')[-1] 
    
    asset_signal  = ctx.indicator('sma13m_indicator')[-1]
    
    if day_of_month == 18:
        if ctx.long_pos():
                if ctx.symbol not in pyb.param('top_symbols') or tips_signal <=0:
                    ctx.sell_all_shares()
        else:
            target_size = pyb.param('target_size')
            if ctx.symbol in pyb.param('top_symbols') and tips_signal > 0 and asset_signal > 0:
                ctx.buy_shares = ctx.calc_target_shares(target_size)
                ctx.score = ctx.indicator('sma13m_indicator')[-1]

In [186]:
strategy = Strategy(
    YFinance(),
    start_date='1/1/2015',
    end_date='1/1/2023',
    config=config
)
strategy.set_before_exec(rank)
strategy.add_execution(rotate, ['SPY','QQQ','IWM','VGK','EWJ','EEM','VNQ','DBC','GLD','HYG','LQD','TLT','IEF'], indicators=sma13m_indicator)
result = strategy.backtest(warmup=251)

Backtesting: 2015-01-01 00:00:00 to 2023-01-01 00:00:00

Loading bar data...
[*********************100%***********************]  13 of 13 completed
Loaded bar data: 0:00:01

Computing indicators...

100% (13 of 13) |########################| Elapsed Time: 0:00:13 Time:  0:00:13

Test split: 2015-01-02 00:00:00 to 2022-12-30 00:00:00

  0% (0 of 2014) |                       | Elapsed Time: 0:00:00 ETA:  --:--:--

ValueError: Indicator 'sma13m_indicator' not found for TIP.

In [ ]:
result.trades.sort_values(by=['entry_date','exit_date'])[:20]

In [ ]:
db01.loc['2016-2-29'].sort_values(ascending=False)

In [ ]:
db01.loc['2016-3-31'].sort_values(ascending=False)

In [ ]:
result.metrics_df

In [ ]:
y['entry_year']=y['entry_date'].dt.year

In [ ]:
y.groupby("entry_year").count()

In [ ]:
x=result.orders
x.columns

In [ ]:
result.portfolio

In [ ]:
pctl_chanimport matplotlib.pyplot as plt
chart = plt.subplot2grid((3, 2), (0, 0), rowspan=3, colspan=2)
chart.plot(result.portfolio.index, result.portfolio['market_value'])